 <section id="about" class="about-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>El Restaurante Kunio cuenta con una gran historia que nos remonta al día 30 de Junio de 1999, fecha en la que el Sr. Kunio Katagiri decide emprender un nuevo negocio y nace el restaurante Kunio-San, el cual ya cuenta con una serie de reconocimientos y aceptación de los clientes. 

Tras 5 años de innovación, aprendizaje y trabajo duro en Kunio-San desempeñándose como gerente de Alimentos y Bebidas, el joven empresario Morichi Ponce Itami y el Sr. Katagiri toman la decisión de abrir un nuevo restaurante (Kunio), con un concepto que combina los mejores sabores y productos, tanto de la cocina japonesa como la mexicana, obteniendo como resultado platillos originales con sazón particular para paladares mexicanos, sin olvidar platillos tradicionales de la cultura japonesa como lo es el sashimi o nigiri, todo esto bajo la característica esencial de que Kunio sirve platillos bastos a un precio justo para sus clientes, con el servicio y la calidad que cada uno se merece. 

¨Tratamos de cuidar cada detalle de nuestro servicio, para que el cliente se sienta atendido como si estuviera en su casa.¨ dice el joven empresario.

Todos y cada uno de los platillos que son elaborados en Kunio, mantienen una consistencia en su calidad y sabor, gracias a los altos estándares de calidad que manejan en su cocina. 

¨Con actitud, empeño, y constancia hemos logrado crear un gran ambiente dentro de la cocina, el cual logramos transmitir y plasmar en cada uno de los platillos que servimos, algunos de carácter elegante y otros con un toque más divertido.¨ - Morichi Ponce Itami. 

Otra de las innovaciones que presenta Kunio en México es su barra de Tempura, en la cual, los clientes pueden disfrutar de un momento tranquilo degustando piezas de tempura, ya sea verduras, camarones, pescados o lo que el Chef recomiende para ese día, y esto acompañado de una buena bebida como seria un Sake, crea un entorno de lo más agradable y apetecedor.</p>

                </div>
            </div>
        </div>
    </section>