 <section id="contacto" class="contacto-section animated fadeIn">
    
    <div class="col-md-6 col-md-offset-3">
       
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'>  <iframe src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7528.977952273652!2d-99.190601!3d19.347969!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb269aa256900185!2sKunio!5e0!3m2!1sen!2sus!4v1411152182295' width='500' height='500' frameborder='0' style='border:0'></iframe></div>

    <br/>

    <address>
      <strong>Kunio</strong><br>
      Av. Revolución 1623, San Angel, <br>
      Alvaro Obregón, Distrito Federal, Mexico<br>
      <i class="fa fa-phone"> 5616-0038</i> 
    </address>
    </div>

    </div>
    </section>