 <section id="contacto" class="contacto-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Hello! My name is Carlos Ortega!</h2>
                        <h4>I am currently in a job hunt, and surfing through the web I was amazed by your company philosophy and said to myself:<h4>
                         <br/>  
                            <h3><em>I want to work with those guys!!!</em></h3> 
                        <br/> 
                        <h4>I have a particular set of skills developed during the last six-ish years as designer, and since we are more than our resume. I decided to explain you more in depth my qualifications.<h4/> 
                        <h2>Thanks! You Rock!!!</h2>
                        <br />
                        <a class="page-scroll btn btn-primary fa fa-cube fa-lg" href="#inddes"> What? An Industrial Designer?</a> 
                </div>
            </div>
        </div>
    </section>