<section id="contacto" class="contacto-section animated fadeIn">
    
 <div class="row">
    <div class="col-md-12">

     <address>
          <strong>Kunio</strong><br>
          Av. Revolución 1623, San Angel, <br>
          Alvaro Obregón, Distrito Federal, Mexico<br>
          <i class="fa fa-phone"> 5616-0038</i> 
        </address>

    </div>

  <div class="col-md-10 col-md-offset-1">

      <div class="col-md-5 col-md-offset-1">
        <a class="twitter-timeline" href="https://twitter.com/KunioSanAngel" data-widget-id="513334997516701696">Tweets by @KunioSanAngel</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="col-md-4">
         <iframe src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7528.977952273652!2d-99.190601!3d19.347969!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb269aa256900185!2sKunio!5e0!3m2!1sen!2sus!4v1411152182295' width='500' height='500' frameborder='0' style='border:0'></iframe></div>
    </div>
   
  
     
  </div>
  </div>
</section>