 <section id="galeria" class="galeria-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <blockquote class="blockquote-reverse block-text">
                        <p>¨Con actitud, empeño, y constancia hemos logrado crear un gran ambiente dentro de la cocina, el cual logramos transmitir y plasmar en cada uno de los platillos que servimos, algunos de carácter elegante y otros con un toque más divertido."</p>
                        <footer>Morichi Ponce Itami </footer>
                        
                     </blockquote>
                        
                </div>
            </div>
        </div>
    </section>