<section id="galeria" class="galeria-section animated fadeIn" >

<header id="myCarousel" class="carousel slide">

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Chuka-Camaron.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Chuka Camarón</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Dragon-Rojo-3.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Dragón Rojo Roll</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Edamame.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Edamame</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the fourth background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Esparramaki-2.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Esparramaki</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Furikake-Roll-copy.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Furikake Roll</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Gyozas-ebi.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Gyozas Ebi</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Crunchy-Tuna-2.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Crunchy Tuna</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-DSC07380.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Kunio-DSC</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the fourth background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-DSC07381.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Kunio-DSC</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-mexico-lindo.jpg');"></div>
                <div class="carousel-caption">
                    <h1>México Lindo Roll</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Nig-Hamachi.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Nig Hamachi</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the fourth background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Salmon-Crunch-2.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Salmon Crunch</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-paquete-salmon-ajillo.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Paquete Salmon Ajillo</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-sashimi.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Sashimi</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the fourth background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Spicy-Tuna-Tartara-3.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Spicy Tuna Tartara</h1>
                </div>
            </div>

           
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-tostadas-de-atun.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Tostadas de Atún</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the fourth background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-yakisoba-ebi2.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Yakisoba Ebi</h1>
                </div>
            </div>

            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/roll_g.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Roll G</h1>
                </div>
            </div>
            
            <div class="item">
                <!-- Set the fourth background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-Mochi-IceCream.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Helado Mochi</h1>
                </div>
            </div>

             <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://s3-us-west-2.amazonaws.com/kunio-mx-assets/kunio-tempura-helado.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Tempura helado</h1>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>      
            
   
</section>


               
