 <section id="intro" class="intro-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-5 pull-right block-text">
                    <h1 >Bienvenidos a Kunio</h1>
                        <h3>Auténtica comida japonesa.</h3>
                </div>
            </div>
        </div>
    </section>