 <section id="intro" class="intro-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pull-right block-text">
                    <h1 >Bienvenidos</h1><hr/ class="hr1">
                        <h4><em>Auténtica comida japonesa. Restaurante para las familias mexicanas, su sencillez y frescura hacen de Kunio un restaurante accesible y fascinante.</em><h4>
                </div>
            </div>
        </div>
    </section>