 <section id="intro" class="intro-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Hello! My name is Carlos Ortega!</h2>
                        <h4>I am currently in a job hunt, and surfing through the web I was amazed by your company philosophy and said to myself:<h4>
                         
                        <br />
                        <a class="page-scroll btn btn-primary fa fa-cube fa-lg" href="#inddes"> What? An Industrial Designer?</a> 
                </div>
            </div>
        </div>
    </section>