 <section id="intro" class="intro-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Bienvenidos</h2>
                        <h4>Auténtica comida japonesa. Restaurante para las familias mexicanas. Su sencillez y frescura hacen de Kunio un restaurante accesible y fascinante.<h4>
                         
                    
                </div>
            </div>
        </div>
    </section>