 <section id="intro" class="intro-section animated fadeIn">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="vcenter text-shadow wow animated zoomIn">
                    <h1 >Bienvenidos a Kunio</h1>
                        <h3>Auténtica comida japonesa.</h3>

                    		<p>¨Con actitud, empeño, y constancia hemos logrado crear un gran ambiente dentro de la cocina, el cual logramos transmitir y plasmar en cada uno de los platillos que servimos, algunos de carácter elegante y otros con un toque más divertido."</p><br/>
                            <p>Morichi Ponce Itami </p>
                     
                </div>
            </div>
        </div>
    </section>