 <section id="menu" class="menu-section animated fadeIn">
        <div class="container">
            <div class="col-md-12">
            <div class="row block-text-black wow animated bounceInDown">
                 <h2 class="text-center">Nuestro delicioso Menú:</h2>
                
                <div class="col-md-2">
                       
                    <h4 class="pull-right">Sopas</h4>
                        <table class="table table-hover">
                         <tr><td>MISOSHIRU</td><td></td></tr>
                         <tr><td>CALDO DE CAMARÓN </td><td></td></tr>
                        </table>

                    <h4 class="pull-right">Chukasoba </h4><br/><h5><em class="em2 pull-right">Pasta con zanahoria, calabaza, cebolla, jícama y col</em></h5>
                        <table class="table table-hover">
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>MARISCOS MIXTOS</td><td></td></tr>
                         <tr><td>PESCADO</td><td></td></tr>
                         <tr><td>POLLO</td><td></td></tr>
                         <tr><td>TOP SIRLOIN</td><td></td></tr>
                         <tr><td>VERDURAS</td><td></td></tr>
                         </table>

                     <h4 class="pull-right">Arroz </h4>
                        <table class="table table-hover">
                         <tr><td>GOHAN</td><td></td></tr>
                         <tr><td>YAKIMESHI</td><td></td></tr>
                         <tr><td>YAKIMESHI CON NUEZ</td><td></td></tr>
                         <tr><td>YAKIMESHI ESPECIAL</td><td></td></tr>
                         </table>

                    <h4 class="pull-right">Entradas</h4>
                        <table class="table table-hover">
                         <tr><td>ALMEJAS MANTEQUILLA</td><td></td></tr>
                         <tr><td>BABY SQUID</td><td></td></tr>
                         <tr><td>EDAMAME</td><td></td></tr>
                         <tr><td>ESPARRAMAKI</td><td></td></tr>
                         <tr><td>GYOZA DE CAMARÓN</td><td></td></tr>
                         <tr><td>GYOZA DE CERDO</td><td></td></tr>
                         <tr><td>YAKITORI</td><td></td></tr>
                         </table>

                     <h4 class="pull-right">Ensaladas</h4>
                        <table class="table table-hover">
                         <tr><td>ENSALADA KUNIO</td><td></td></tr>
                         <tr><td>SUNOMONO </td><td></td></tr>
                        </table>

                    </div>


                     <div class="col-md-2 col-md-offset-1">

                        <h4 class="pull-right">Kushiagues </h4><br/><h5><em class="em2 pull-right">Brochetas empanizadas. Orden de 5 piezas</em></h5>
                        <table class="table table-hover">
                         <tr><td>QUESO</td><td></td></tr>
                         <tr><td>PLÁTANO CON QUESO</td><td></td></tr>
                         <tr><td>CAMARÓN CON QUESO</td><td></td></tr>
                         <tr><td>SALMÓN CON QUESO</td><td></td></tr>
                         <tr><td>MIXTO</td><td></td></tr>
                         </table>

                         <h4 class="pull-right">Teriyaki </h4><br/><h5><em class="em2 pull-right">Tazón de yakimeshi con el platillo de su elección y salsa teriyaki</em></h5>
                        <table class="table table-hover">
                         <tr><td>QUESO</td><td></td></tr>
                         <tr><td>PLÁTANO CON QUESO</td><td></td></tr>
                         <tr><td>CAMARÓN CON QUESO</td><td></td></tr>
                         <tr><td>SALMÓN CON QUESO</td><td></td></tr>
                         <tr><td>MIXTO</td><td></td></tr>
                         </table>

                         <h4 class="pull-right">Donburi </h4><br/><h5><em class="em2 pull-right">Tazón con gohan, huevo, cebolla, espinaca y salsa de soya</em></h5>
                        <table class="table table-hover">
                         <tr><td>GYUDON</td><td></td></tr>
                         <tr><td>KATSUDON</td><td></td></tr>
                         <tr><td>OYAKODON</td><td></td></tr>
                         <tr><td>SAKANADON</td><td></td></tr>
                         <tr><td>TENDON</td><td></td></tr>
                         </table>

                        <h4 class="pull-right">Yakisoba </h4><br/><h5><em class="em2 pull-right">Pasta con zanahoria, calabaza, cebolla, jícama y col</em></h5>
                        <table class="table table-hover">
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>MARISCOS MIXTOS</td><td></td></tr>
                         <tr><td>PESCADO</td><td></td></tr>
                         <tr><td>POLLO</td><td></td></tr>
                         <tr><td>TOP SIRLOIN</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>COMBINADO</td><td></td></tr>
                         <tr><td>VERDURAS</td><td></td></tr>
                         </table>

                        <h4 class="pull-right">Bento</h4>
                        <table class="table table-hover">
                         <tr><td>KIKU</td><td></td></tr>
                         <tr><td>SAPPORO</td><td></td></tr>
                         <tr><td>TSURU</td><td></td></tr>
                         </table>

                    </div>

                    <div class="col-md-2 col-md-offset-1">
                         <h4 class="pull-right">Paquetes</h4><br/><h5><em class="em2 pull-right">Incluye arroz, ensalada, sopa y platillo al gusto</em></h5>
                         <table class="table table-hover">
                         <tr><td>ARRACHERA</td><td></td></tr>
                         <tr><td>ATÚN</td><td></td></tr>
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>FILETE DE PESCADO</td><td></td></tr>
                         <tr><td>POLLO</td><td></td></tr>
                         <tr><td>RIB EYE</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>TOP SIRLOIN</td><td></td></tr>
                         </table>


                         <h4 class="pull-right">Niguiri</h4><br/><h5><em class="em2 pull-right">Orden 2 pzas.</em></h5>
                         <table class="table table-hover">
                         <tr><td>ATÚN</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>KINAKAMA</td><td></td></tr>
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>ESCOLAR</td><td></td></tr>
                         <tr><td>HAMACHI</td><td></td></tr>
                         <tr><td>PULPO</td><td></td></tr>
                         <tr><td>ROBALO</td><td></td></tr>
                         <tr><td>IKURA</td><td></td></tr>
                         <tr><td>MASAGO</td><td></td></tr>
                         <tr><td>SIERRA</td><td></td></tr>
                         <tr><td>TAMAGO</td><td></td></tr>
                         <tr><td>UNAGUI</td><td></td></tr>
                         <tr><td>CALLO ALMEJA</td><td></td></tr>
                         <tr><td>COMBINACIÓN IMPORTADA</td><td></td></tr>
                         <tr><td>COMBINACIÓN NACIONAL</td><td></td></tr>
                         </table>

                         <h4 class="pull-right">Temaki</h4>
                         <table class="table table-hover">
                         <tr><td>ATÚN</td><td></td></tr>
                         <tr><td>KINAKAMA</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>SPICY TUNA</td><td></td></tr>
                         <tr><td>UNAGUI</td><td></td></tr>
                         </table>

                    </div>


                    <div class="col-md-2 col-md-offset-1">
                         <h4 class="pull-right">Rollos</h4>
                         <table class="table table-hover">
                         <tr><td>Ebi Tempura: </td><td>$125</td></tr>
                         <tr><td>XF. </td><td>&nbsp;</td></tr>
                         <tr><td>XD.</td><td>&nbsp;</td></tr>
                         <tr><td>Mori Maki</td><td>$99</td></tr>
                         <tr><td>XF. Capeado y salsa dulce</td><td>&nbsp;</td></tr>
                         <tr><td>XD. Cangrejo, esparrago y queso</td><td>&nbsp;</td></tr>
                         <tr><td>Kunio Maki (Tuna)**</td><td>$125</td></tr>
                         <tr><td>XF. Wakame (Alga Fresca)</td><td>&nbsp;</td></tr>
                         <tr><td>XD. Atun y masago</td><td>&nbsp;</td></tr>
                         <tr><td>Unagui Maki Especial</td><td>$165</td></tr>
                         <tr><td>XF. Anguila</td><td>&nbsp;</td></tr>
                         <tr><td>XD. Aguacate, pepino y queso</td><td>&nbsp;</td></tr>
                         </table>


                         <h4 class="pull-right">Postres</h4>
                         <table class="table table-hover">
                         <tr><td>Postre:</td><td>&nbsp;</td></tr>
                         <tr><td>Mochi Ice cream 2pza</td><td>$66</td></tr>
                        </table>
                    </div>


             </div>  
            </div>
        </div>
    </section>