 <section id="menu" class="menu-section animated fadeIn">
        <div class="container">
            <div class="row block-text-black wow animated bounceInDown">
                 <h2 class="text-center">Nuestro delicioso Menú:</h2>
                <div class="col-md-5 col-md-offset-1">
                    
                   
                    <h4 class="pull-right">Entradas</h4>
                    
                        <table class="table table-hover">
                         <tr><td>Edamames (Sal, Teriyaki o ajillo) </td><td>$54</td></tr>
                         <tr><td>Tostadas de atún (3 piezas) </td><td>$125</td></tr>
                         <tr><td>Calamares Fritos con salsa mango</td><td>$99</td></tr>
                         <tr><td>Tuna Wraps</td><td>$69</td></tr>
                         <tr><td>Tiradito de atun </td><td>$164</td></tr>
                        </table>

                        <h4 class="pull-right">Platos Fuertes</h4>
                        <table class="table table-hover">
                         <tr><td>Plato fuerte:</td><td>&nbsp;</td></tr>
                         <tr><td>Tempura salmón</td><td>$165</td></tr>
                         <tr><td>Tártara de salmón</td><td>$119</td></tr>
                         <tr><td>Sukiyaki para 2 personas</td><td>$299</td></tr>
                         <tr><td>Tekka Don</td><td>$192</td></tr>
                         <tr><td>Unagui Domburi</td><td>$219</td></tr>
                         <tr><td>Soft Shell Salteado</td><td>$185</td></tr>
                         </table>

                         <h4 class="pull-right">Rollos Empanizados</h4>
                         <table class="table table-hover">
                         <tr><td>Rollos Empanizados:</td><td>&nbsp;</td></tr>
                         <tr><td>Kani Maki empanizado</td><td>$98</td></tr>
                         <tr><td>Ebi Maki Empanizado</td><td>$109</td></tr>
                         <tr><td>Manchego Roll Empanizado</td><td>$79</td></tr>
                         </table>

                    </div>

                     <div class="col-md-5">
                         <h4 class="pull-right">Rollos</h4>
                         <table class="table table-hover">
                         <tr><td>Ebi Tempura: </td><td>$125</td></tr>
                         <tr><td>XF. </td><td>&nbsp;</td></tr>
                         <tr><td>XD.</td><td>&nbsp;</td></tr>
                         <tr><td>Mori Maki</td><td>$99</td></tr>
                         <tr><td>XF. Capeado y salsa dulce</td><td>&nbsp;</td></tr>
                         <tr><td>XD. Cangrejo, esparrago y queso</td><td>&nbsp;</td></tr>
                         <tr><td>Kunio Maki (Tuna)**</td><td>$125</td></tr>
                         <tr><td>XF. Wakame (Alga Fresca)</td><td>&nbsp;</td></tr>
                         <tr><td>XD. Atun y masago</td><td>&nbsp;</td></tr>
                         <tr><td>Unagui Maki Especial</td><td>$165</td></tr>
                         <tr><td>XF. Anguila</td><td>&nbsp;</td></tr>
                         <tr><td>XD. Aguacate, pepino y queso</td><td>&nbsp;</td></tr>
                         </table>

                         

                         <h4 class="pull-right">Postres</h4>
                         <table class="table table-hover">
                         <tr><td>Postre:</td><td>&nbsp;</td></tr>
                         <tr><td>Mochi Ice cream 2pza</td><td>$66</td></tr>
                        </table>
                    </div>

                
            </div>
        </div>
    </section>