 <section id="menu" class="menu-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    
                        <h4>Menu:

    Entradas:
    Edamames (Sal, Teriyaki o ajillo)       $   54
Tostadas de atún (3 piezas)             $ 125
Calamares Fritos con salsa mango        $   99 
Tuna Wraps                  $   69
Tiradito de atun                $ 164
        
Plato fuerte:
Tempura salmón              $ 165
Tártara de salmón               $ 119
Sukiyaki para 2 personas            $ 299
Tekka Don                   $ 192
Unagui Domburi              $ 219
Soft Shell Salteado             $ 185
Rollos:
**Cambio de posición de los rollos en general.
Ebi Tempura:                $ 125
    XF. 
    XD.
Mori Maki                   $ 99
    XF. Capeado y salsa dulce
    XD. Cangrejo, esparrago y queso
Kunio Maki (Tuna)**             $ 125
    XF. Wakame (Alga Fresca)
    XD. Atun y masago
Unagui Maki Especial            $ 165
XF. Anguila
XD. Aguacate, pepino y queso    

    Rollos Empanizados:
        Kani Maki empanizado            $ 98
        Ebi Maki Empanizado         $ 109
        Manchego Roll Empanizado            $ 79

Postre:
Mochi Ice cream 2pza            $ 66
Bebidas:
        Vinos
                        Botella         Copa 
        Casillero del diablo
        Marquez de 
Sake
Cocteles
100 Menus</h4>
                </div>
            </div>
        </div>
    </section>