 <section id="menu" class="menu-section animated fadeIn">
        <div class="container">
            <div class="col-md-12">
            <div class="row block-text-black wow animated bounceInDown">
            <h3 class=" col-md-12 text-center h3"> <a href='https://s3-us-west-2.amazonaws.com/kunio-mx-assets/Kunio+Menu.pdf' target="_blank">Descarga Nuestro Delicioso Menú </a> </h3>
                
                <div class="col-lg-3 hidden-xs">
                       
                    <h4>Sopas</h4>
                        <table class="table table-hover table-condensed">
                         <tr><td>MISOSHIRU</td><td></td></tr>
                         <tr><td>CALDO DE CAMARÓN </td><td></td></tr>
                        </table>

                    <h4>Chukasoba<br/><em class="em2">Pasta con zanahoria, calabaza, cebolla, jícama y col</em></h4>
                       <table class="table table-hover table-condensed">
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>MARISCOS MIXTOS</td><td></td></tr>
                         <tr><td>PESCADO</td><td></td></tr>
                         <tr><td>POLLO</td><td></td></tr>
                         <tr><td>TOP SIRLOIN</td><td></td></tr>
                         <tr><td>VERDURAS</td><td></td></tr>
                         </table>

                     <h4>Arroz</h4>
                        <table class="table table-hover table-condensed">
                         <tr><td>GOHAN</td><td></td></tr>
                         <tr><td>YAKIMESHI</td><td></td></tr>
                         <tr><td>YAKIMESHI CON NUEZ</td><td></td></tr>
                         <tr><td>YAKIMESHI ESPECIAL</td><td></td></tr>
                         </table>

                    <h4>Entradas</h4>
                        <table class="table table-hover table-condensed">
                         <tr><td>ALMEJAS MANTEQUILLA</td><td></td></tr>
                         <tr><td>BABY SQUID</td><td></td></tr>
                         <tr><td>EDAMAME</td><td></td></tr>
                         <tr><td>ESPARRAMAKI</td><td></td></tr>
                         <tr><td>GYOZA DE CAMARÓN</td><td></td></tr>
                         <tr><td>GYOZA DE CERDO</td><td></td></tr>
                         <tr><td>YAKITORI</td><td></td></tr>
                         </table>

                    <h4>Ensaladas</h4>
                        <table class="table table-hover table-condensed">
                         <tr><td>ENSALADA KUNIO</td><td></td></tr>
                         <tr><td>SUNOMONO </td><td></td></tr>
                        </table>

                    </div>


                     <div class="col-lg-3 hidden-xs">

                        <h4>Kushiagues<br/><em class="em2">Brochetas empanizadas. Orden de 5 piezas</em></h4>
                        <table class="table table-hover table-condensed">
                         <tr><td>QUESO</td><td></td></tr>
                         <tr><td>PLÁTANO CON QUESO</td><td></td></tr>
                         <tr><td>CAMARÓN CON QUESO</td><td></td></tr>
                         <tr><td>SALMÓN CON QUESO</td><td></td></tr>
                         <tr><td>MIXTO</td><td></td></tr>
                         </table>

                         <h4>Teriyaki<br/><em class="em2">Tazón de yakimeshi con el platillo de su elección y salsa teriyaki</em></h4>
                        <table class="table table-hover table-condensed">
                         <tr><td>QUESO</td><td></td></tr>
                         <tr><td>PLÁTANO CON QUESO</td><td></td></tr>
                         <tr><td>CAMARÓN CON QUESO</td><td></td></tr>
                         <tr><td>SALMÓN CON QUESO</td><td></td></tr>
                         <tr><td>MIXTO</td><td></td></tr>
                         </table>

                         <h4>Donburi<br/><em class="em2">Tazón con gohan, huevo, cebolla, espinaca y salsa de soya</em></h4>
                        <table class="table table-hover table-condensed">
                         <tr><td>GYUDON</td><td></td></tr>
                         <tr><td>KATSUDON</td><td></td></tr>
                         <tr><td>OYAKODON</td><td></td></tr>
                         <tr><td>SAKANADON</td><td></td></tr>
                         <tr><td>TENDON</td><td></td></tr>
                         </table>

                         <h4>Yakisoba<br/><em class="em2">Pasta con zanahoria, calabaza, cebolla, jícama y col</em></h4>                    
                        <table class="table table-hover table-condensed">
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>MARISCOS MIXTOS</td><td></td></tr>
                         <tr><td>PESCADO</td><td></td></tr>
                         <tr><td>POLLO</td><td></td></tr>
                         <tr><td>TOP SIRLOIN</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>COMBINADO</td><td></td></tr>
                         <tr><td>VERDURAS</td><td></td></tr>
                         </table>

                    <h4>Bento</h4>
                        <table class="table table-hover table-condensed">
                         <tr><td>KIKU</td><td></td></tr>
                         <tr><td>SAPPORO</td><td></td></tr>
                         <tr><td>TSURU</td><td></td></tr>
                         </table>

                    </div>

                    <div class="col-lg-3 hidden-xs">
                        <h4>Paquetes<br/><em class="em2">Incluye arroz, ensalada, sopa y platillo al gusto</em></h4>
                         <table class="table table-hover table-condensed">
                         <tr><td>ARRACHERA</td><td></td></tr>
                         <tr><td>ATÚN</td><td></td></tr>
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>FILETE DE PESCADO</td><td></td></tr>
                         <tr><td>POLLO</td><td></td></tr>
                         <tr><td>RIB EYE</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>TOP SIRLOIN</td><td></td></tr>
                         </table>

                        <h4>Niguiri<br/><em class="em2">Orden 2 piezas</em></h4>
                         <table class="table table-hover table-condensed">
                         <tr><td>ATÚN</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>KINAKAMA</td><td></td></tr>
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>ESCOLAR</td><td></td></tr>
                         <tr><td>HAMACHI</td><td></td></tr>
                         <tr><td>PULPO</td><td></td></tr>
                         <tr><td>ROBALO</td><td></td></tr>
                         <tr><td>IKURA</td><td></td></tr>
                         <tr><td>MASAGO</td><td></td></tr>
                         <tr><td>SIERRA</td><td></td></tr>
                         <tr><td>TAMAGO</td><td></td></tr>
                         <tr><td>UNAGUI</td><td></td></tr>
                         <tr><td>CALLO ALMEJA</td><td></td></tr>
                         <tr><td>COMBINACIÓN IMPORTADA</td><td></td></tr>
                         <tr><td>COMBINACIÓN NACIONAL</td><td></td></tr>
                         </table>

                         <h4>Temaki</h4>
                         <table class="table table-hover table-condensed">
                         <tr><td>ATÚN</td><td></td></tr>
                         <tr><td>KINAKAMA</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>SPICY TUNA</td><td></td></tr>
                         <tr><td>UNAGUI</td><td></td></tr>
                         </table>


                         <h4>Sashimi<br/><em class="em2">Corte: Grueso, Fino y Tiradito</em></h4>
                         <table class="table table-hover table-condensed">
                         <tr><td>ATÚN</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>ESCOLAR</td><td></td></tr>
                         <tr><td>ROBALO</td><td></td></tr>
                         <tr><td>HAMACHI</td><td></td></tr>
                         <tr><td>PULPO</td><td></td></tr>
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>CALLO HACHA</td><td></td></tr>
                         </table>

                    </div>


                    <div class="col-lg-3 hidden-xs">
                        <h4>Teppanyaki<br/><em class="em2">Variedad de verduras asadas a la plancha y el ingrediente a escoger</em></h4>
                         <table class="table table-hover table-condensed">
                         <tr><td>ATÚN</td><td></td></tr>
                         <tr><td>ARRACHERA</td><td></td></tr>
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>MAR Y TIERRA</td><td></td></tr>
                         <tr><td>MARISCOS MIXTOS</td><td></td></tr>
                         <tr><td>PESCADO</td><td></td></tr>
                         <tr><td>RIB EYE</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>VERDURAS</td><td></td></tr>
                         </table>

                        <h4>Tempura<br/><em class="em2">Con un ligero capeado</em></h4>
                         <table class="table table-hover table-condensed">
                         <tr><td>CAMARÓN</td><td></td></tr>
                         <tr><td>MIXTO</td><td></td></tr>
                         <tr><td>VERDURAS</td><td></td></tr>
                         <tr><td>MAR Y TIERRA</td><td></td></tr>
                         <tr><td>MARISCOS MIXTOS</td><td></td></tr>
                         <tr><td>PESCADO</td><td></td></tr>
                         <tr><td>RIB EYE</td><td></td></tr>
                         <tr><td>SALMÓN</td><td></td></tr>
                         <tr><td>VERDURAS</td><td></td></tr>
                         </table>

                    <h4>Platos Fuertes</h4>
                         <table class="table table-hover table-condensed">
                         <tr><td>PESCADILLAS</td><td></td></tr>
                         <tr><td>TACOS DE CAMARÓN JUMBO</td><td></td></tr>
                         <tr><td>TACOS CHEKA</td><td></td></tr>
                         <tr><td>TACOS DE ESCOLAR</td><td></td></tr>
                         <tr><td>CHIRASHI SUSHI</td><td></td></tr>
                         <tr><td>TEMPURA UDON</td><td></td></tr>
                         </table>

                    <h4>Postres</h4>
                         <table class="table table-hover table-condensed">
                         <tr><td>CAMELADO</td><td></td></tr>
                         <tr><td>TEMPURA HELADO</td><td></td></tr>
                         <tr><td>TAPIOCA</td><td></td></tr>
                         <tr><td>MOUSSE DE TOFU</td><td></td></tr>
                         <tr><td>HELADO TÉ VERDE</td><td></td></tr>
                         <tr><td>HELADO LYCHEE</td><td></td></tr>
                         <tr><td>HELADO AJONJOLÍ NEGRO</td><td></td></tr>
                         <tr><td>HELADO DE VAINILLA</td><td></td></tr>
                         </table>

                    </div>
                <h3 class=" col-md-12 text-center h3 hidden-xs"> <a href='https://s3-us-west-2.amazonaws.com/kunio-mx-assets/Kunio+Menu.pdf' target="_blank">Descarga Nuestro Delicioso Menú </a> </h3>
             </div>  
            </div>
        </div>
    </section>