<div class="footer">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
		<p><i class="fa fa-phone"> 5616-0038</i> 
		<i class="fa fa-foursquare"> </i>   
		<i class="fa fa-facebook-square fa-lg"> </i> </p>   
		</div>
	</div>
</div>
