<div class="footer">

	<div class="container">

    <div class="col-md-8 col-md-offset-2 wow animated bounceInUp">
	    <a href="https://www.facebook.com/kuniosanangel" target="_blank"><i id="social" class="social-fb fa fa-facebook-square fa-2x"></i></a>
	    <a href="https://twitter.com/KunioSanAngel" target="_blank"><i id="social" class="social-tw fa fa-twitter-square fa-2x"></i></a>
	    <a href="http://instagram.com/kuniosanangel" target="_blank"><i id="social" class="social-tw fa fa-instagram fa-2x"></i></a>
	    <a href="https://foursquare.com/kuniosanangel" target="_blank"><i id="social" class="social-gp fa fa-foursquare fa-2x"></i></a>
	    <a href="mailto:carlos.ortega86@gmail.com" target="_blank"><i id="social" class="social-em fa fa-envelope-square fa-2x"></i></a>

      <p class="pull-right">Copyright &copy; 2014. Kunio</p>
	</div>
</div>


		
