<div class="footer">
		<div class="container">
				<p class="text-center">Copyright <%= link_to "Carlos Ortega Morales", "http://carlosomx.com", target: "blank", class: "h2w" %></p>  
		</div>
	</div>
